.copyright 
{
    font-family: 'Noto Sans', sans-serif;
    font-size: 0.75em;
    font-weight: 400;
    line-height: 1.4em;
    text-align: left;
    padding-top: 2em;
    padding-bottom: 2.8em;
}
@media only screen  
and (min-device-width: 300px)
and (max-device-width : 767px) {
    .copyright 
{
    padding-top: 2.5em;
    padding-bottom: 6em;
}   

}